.container {
  display: flex;
}
.container > div {
  width: 100px;
  height: 100px;
  margin: 10px;
  background-color: lightcoral;
  border-radius: 100%;
}

.container02 {
  display: flex;
}

#red, #blue{
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 10px;
  background-color: lightcoral;
  cursor: pointer;
}

#blue{
  background-color: lightskyblue;
}